<div id="searchMovieBox">
  <div class="inputsBox">
    <label for="movieTitle">Enter the name of the movie </label>
    <input type="text" name="movieTitle" id="movieTitle" [(ngModel)]="movieTitle">
  </div>

  <div class="inputsBox">
    <label for="movieYear">Year of the movie</label>
    <input type="number" name="movieYear" id="movieYear" [(ngModel)]="movieYear">
  </div>

  <div class="inputsBox">
    <span>Short or long description of the movie?</span>
    <div>
      <label for="long">Long</label>
      <input type="radio" name="longDescription" id="long" value="full" [(ngModel)]="longDescription">
    </div>
    <div>
      <label for="short">Short</label>
      <input type="radio" name="longDescription" id="short" value="short" [(ngModel)]="longDescription">
    </div>
  </div>

  <button (click)="ngOnInit()">Search</button>
</div>

<ng-container>
  @if (movieInfo.Title) {
  <div id="movieInfoContainer">
    <h3>{{movieInfo.Title}}</h3>
    <img [src]="movieInfo.Poster" alt="Poster to movie">
    <table>
      <tbody>
        <tr>
          <td colspan="2" id="moviePlot">{{movieInfo.Plot}}</td>
        </tr>

        <tr>
          <td>Year:</td>
          <td>{{movieInfo.Year}}</td>
        </tr>

        <tr>
          <td>Rating:</td>
          <td>
            @for (item of movieInfo.Ratings; track $index) {
            <p style="margin: 0px;">{{item.Source}}: {{item.Value}}</p>
            }
          </td>
        </tr>

        <tr>
          <td>Runtime:</td>
          <td>{{movieInfo.Runtime}}</td>
        </tr>

        <tr>
          <td>Director:</td>
          <td>{{movieInfo.Director}}</td>
        </tr>

        <tr>
          <td>Actors:</td>
          <td>{{movieInfo.Actors}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  }
</ng-container>
