<table>
  <tbody>
    <tr>
      <td (mouseover)="sendColor('Синій')" style="background-color: blue;">Синій</td>
      <td (mouseover)="sendColor('Червоний')" style="background-color: red;">Червоний</td>
      <td (mouseover)="sendColor('Зелений')" style="background-color: green;">Зелений</td>
      <td (mouseover)="sendColor('Жовтий')" style="background-color: yellow;">Жовтий</td>
    </tr>
    <tr>
      <td (mouseover)="sendColor('Помаранчевий')" style="background-color: orange;">Помаранчевий</td>
      <td (mouseover)="sendColor('Фіолетовий')" style="background-color: purple;">Фіолетовий</td>
      <td (mouseover)="sendColor('Рожевий')" style="background-color: pink;">Рожевий</td>
      <td (mouseover)="sendColor('Коричневий')" style="background-color: brown;">Коричневий</td>
    </tr>
    <tr>
      <td (mouseover)="sendColor('Сірий')" style="background-color: gray;">Сірий</td>
      <td (mouseover)="sendColor('Чорний')" style="background-color: black; color: white;">Чорний</td>
      <td (mouseover)="sendColor('Білий')" style="background-color: white;">Білий</td>
      <td (mouseover)="sendColor('Блакитний')" style="background-color: cyan;">Блакитний</td>
    </tr>
    <tr>
      <td (mouseover)="sendColor('Магента')" style="background-color: magenta;">Магента</td>
      <td (mouseover)="sendColor('Золотий')" style="background-color: gold;">Золотий</td>
      <td (mouseover)="sendColor('Сріблястий')" style="background-color: silver;">Сріблястий</td>
      <td (mouseover)="sendColor('Чайковий')" style="background-color: teal;">Чайковий</td>
    </tr>
  </tbody>
</table>
