<main>
  <section>
    <h1>Буддійський Храм Білий Лотос</h1>
    <p>Буддійський храм Білий Лотос у Черкасах є найбільшим буддійським храмом у Європі. Храм був збудований у 1988 році і є важливим центром буддизму в Україні.</p>
    <img src="assets/cherkasy/biluiLotos.jpg" alt="Буддійський Храм Білий Лотос">

    <h2>Історія</h2>
    <p>Будівництво храму почалося в 1988 році під керівництвом Міжнародного Благодійного Фонду "Білий Лотос". Храм був збудований за канонами китайської архітектури, його макет був затверджений Далай Ламою XIV.</p>
    <img src="assets/cherkasy/biluiLotos2.jpg" alt="Будівництво Храму Білий Лотос">

    <h2>Архітектура</h2>
    <p>Храм збудований у стилі класичних китайських пагод, з використанням традиційних матеріалів і технологій. Внутрішні приміщення оздоблені численними буддійськими артефактами та реліквіями.</p>
    <img src="assets/cherkasy/biluiLotos3.jpg" alt="Інтер'єр Храму Білий Лотос">

    <h2>Цікаві факти</h2>
    <ul>
      <li>Храм відкритий для відвідувачів щоденно, проводяться регулярні екскурсії.</li>
      <li>На території храму також знаходиться буддійська школа, де проводяться навчальні курси.</li>
      <li>Щорічно в храмі проходять фестивалі та святкування важливих буддійських свят.</li>
    </ul>
  </section>
</main>
