#contentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  align-items: center;
}

#inputContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
