#inputContainerToEnter{
  margin: 0 auto;
display: flex;
flex-direction: column;
gap: 20px;
width: fit-content;
justify-content: center;
align-items: center;
}

#createdInputsContainer{
  margin: 50px 20px;
display: flex;
flex-wrap: wrap;
gap: 40px;
justify-content: center;
align-items: center;
}
