<div id="container">
  <button (click)="createRes(4)">Roll the dice</button>

  <ng-container *ngIf="userRes || programRes">
    <h1>{{whoWon}}</h1>

    <div id="diceResultContainer">
      <div>
        @if (userRes) {
        <h4>Your result:</h4>
        <div class="diceBox">
          @for (item of userRes; track $index) {
          @switch (item) {
          @case (1) {
          <img src="../../assets/dicePage/dice-1-svgrepo-com.svg" alt="dice 1">
          }
          @case (2) {
          <img src="../../assets/dicePage/dice-2-svgrepo-com.svg" alt="dice 2">
          }
          @case (3) {
          <img src="../../assets/dicePage/dice-3-svgrepo-com.svg" alt="dice 3">
          }
          @case (4) {
          <img src="../../assets/dicePage/dice-4-svgrepo-com.svg" alt="dice 4">
          }
          @case (5) {
          <img src="../../assets/dicePage/dice-5-svgrepo-com.svg" alt="dice 5">
          }
          @case (6) {
          <img src="../../assets/dicePage/dice-6-svgrepo-com.svg" alt="dice 6">
          }
          }
          }
        </div>
        }
      </div>

      <div>
        @if (programRes) {
        <h4>The result of the computer:</h4>
        <div class="diceBox">
          @for (item of programRes; track $index) {
          @switch (item) {
          @case (1) {
          <img src="../../assets/dicePage/dice-1-svgrepo-com.svg" alt="dice 1">
          }
          @case (2) {
          <img src="../../assets/dicePage/dice-2-svgrepo-com.svg" alt="dice 2">
          }
          @case (3) {
          <img src="../../assets/dicePage/dice-3-svgrepo-com.svg" alt="dice 3">
          }
          @case (4) {
          <img src="../../assets/dicePage/dice-4-svgrepo-com.svg" alt="dice 4">
          }
          @case (5) {
          <img src="../../assets/dicePage/dice-5-svgrepo-com.svg" alt="dice 5">
          }
          @case (6) {
          <img src="../../assets/dicePage/dice-6-svgrepo-com.svg" alt="dice 6">
          }
          }
          }
        </div>
        }
      </div>
    </div>
  </ng-container>
</div>
