<form action="/submit" method="post">
  <table>
    <tbody>
      <tr>
        <td><label for="january">Січень</label></td>
        <td><input type="number" id="january" name="january" [(ngModel)]="totalIncome.January"></td>
      </tr>
      <tr>
        <td><label for="february">Лютий</label></td>
        <td><input type="number" id="february" name="february" [(ngModel)]="totalIncome.February"></td>
      </tr>
      <tr>
        <td><label for="march">Березень</label></td>
        <td><input type="number" id="march" name="march" [(ngModel)]="totalIncome.March"></td>
      </tr>
      <tr>
        <td><label for="april">Квітень</label></td>
        <td><input type="number" id="april" name="april" [(ngModel)]="totalIncome.April"></td>
      </tr>
      <tr>
        <td><label for="may">Травень</label></td>
        <td><input type="number" id="may" name="may" [(ngModel)]="totalIncome.May"></td>
      </tr>
      <tr>
        <td><label for="june">Червень</label></td>
        <td><input type="number" id="june" name="june" [(ngModel)]="totalIncome.June"></td>
      </tr>
      <tr>
        <td><label for="july">Липень</label></td>
        <td><input type="number" id="july" name="july" [(ngModel)]="totalIncome.July"></td>
      </tr>
      <tr>
        <td><label for="august">Серпень</label></td>
        <td><input type="number" id="august" name="august" [(ngModel)]="totalIncome.August"></td>
      </tr>
      <tr>
        <td><label for="september">Вересень</label></td>
        <td><input type="number" id="september" name="september" [(ngModel)]="totalIncome.September"></td>
      </tr>
      <tr>
        <td><label for="october">Жовтень</label></td>
        <td><input type="number" id="october" name="october" [(ngModel)]="totalIncome.October"></td>
      </tr>
      <tr>
        <td><label for="november">Листопад</label></td>
        <td><input type="number" id="november" name="november" [(ngModel)]="totalIncome.November"></td>
      </tr>
      <tr>
        <td><label for="december">Грудень</label></td>
        <td><input type="number" id="december" name="december" [(ngModel)]="totalIncome.December"></td>
      </tr>
      <tr>
        <td><label for="total">Сума</label></td>
        <td><input type="text" id="total" name="total" readonly [ngModel]="receivedValues?.total" class="receivedDataInput"></td>
      </tr>
      <tr>
        <td><label for="average">Середнє</label></td>
        <td><input type="text" id="average" name="average" readonly [ngModel]="receivedValues?.average" class="receivedDataInput"></td>
      </tr>
      <tr>
        <td><label for="minimum">Мінімальне</label></td>
        <td><input type="text" id="minimum" name="minimum" readonly [ngModel]="receivedValues?.minimum" class="receivedDataInput"></td>
      </tr>
      <tr>
        <td><label for="maximum">Максимальне</label></td>
        <td><input type="text" id="maximum" name="maximum" readonly [ngModel]="receivedValues?.maximum" class="receivedDataInput"></td>
      </tr>
    </tbody>
  </table>
  <button type='submit' (click)="collectData()">Обчислити</button>
</form>
