<main>
  <section>
    <h1>Про Черкаси</h1>
    <p>Черкаси — місто обласного і районного значення в Україні, центр Черкаської міської громади, промисловий центр Центрального економічного району, значний культурний та освітній осередок. Відоме з XIII століття і за час свого існування відіграло певну роль в історії всієї України. Черкаси були осередком формування Козаччини, мешканці міста брали безпосередню участь у Хмельниччині та Коліївщині. Зростання міста після отримання статусу обласного центру призвело до перетворення його у великий промисловий центр і головний культурний осередок цілого регіону.</p>

    <div class="about-info">
      <div class="info-section">
        <h2>Населення</h2>
        <p>Станом на 2021 рік, населення Черкас становить приблизно 276,360 осіб.</p>
      </div>
      <div class="info-section">
        <h2>Місце розташування</h2>
        <p>Черкаси розташовані на правому березі річки Дніпро в центральній частині України.</p>
        <img src="assets/cherkasy/cherkasyLocation.jpg" alt="Розташування Черкас">
      </div>
      <div class="info-section">
        <h2>Прапор та Герб</h2>
        <p>Прапор Черкас має синій та жовтий кольори, що символізують воду та сонце. Герб міста включає зображення козака на фоні блакитного поля.</p>
        <img src="assets/cherkasy/cherkasyFlag.png" alt="Прапор Черкас">
        <img src="assets/cherkasy/cherkasyCoatOfArm.png" alt="Герб Черкас">
      </div>
      <div class="info-section">
        <h2>Походження назви</h2>
        <p>Походження назви "Черкаси" точно невідоме, проте є декілька версій: від слова "черка" (назва племені) або від старослов'янського слова "черкас" (черкати).</p>
      </div>
      <div class="info-section">
        <h2>Історія</h2>
        <p>Черкаси вперше згадуються у 1286 році. Місто відігравало важливу роль у формуванні козацтва та брало активну участь у різних історичних подіях, включаючи Хмельниччину та Коліївщину.</p>
      </div>
      <div class="info-section">
        <h2>Цікаві місця</h2>
        <p>Серед найцікавіших місць Черкас варто відзначити Долину троянд, парк "Сосновий бір", кафедральний собор Архангела Михаїла та багато інших.</p>
        <img src="assets/cherkasy/dolinaTroyand7.jpg" alt="Долина троянд">
        <img src="assets/cherkasy/guaardenSosnoviyBir.jpg" alt="Парк Сосновий Бір">
      </div>
    </div>
  </section>
</main>
