#taskButtons {
  margin: 0 auto 40px auto;
  display: flex;
  gap: 40px;
  background-color: #B5CB99;
  width: 90%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#taskButtons button {
  background-color: #186F65;
  color: #FCE09B;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  min-width: 200px;
  height: 50px;
  font-size: 30px;
  transition: background-color 0.3s ease;
}

#taskButtons button:hover {
  background-color: #B2533E;
}

/* Styles for tasks */

#enteredTextContainer{
  display: flex;
  gap: 10px;
}

#enteredTextContainer > *{
width: fit-content;
}

#enteredTextContainer p{
  font-weight: 600;
  font-size: larger;
text-decoration: underline;
}
