<hr>
<div id="showFruitsContainer">
  <input type="number" name="inputPrice" id="inputPrice" placeholder="Enter the starting price"
    [(ngModel)]="inputNumber">

  <table>
    <ng-container *ngFor="let item of fruits">
      <ng-container *ngIf="inputNumber === null || (inputNumber!== null && item.price > inputNumber)">
        <ng-container [ngSwitch]="getPriceCategory(item.price)">

          @switch (getPriceCategory(item.price)) {
          @case ('cheap') {
          <tr [ngStyle]="{ 'background-color': 'green' }">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
          </tr>
          }
          @case ('average') {
          <tr [ngStyle]="{ 'background-color': 'yellow' }">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
          </tr>
          }
          @case ('expensive') {
          <tr [ngStyle]="{ 'background-color': 'red' }">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
          </tr>
          }
          }
          <!--Вище я використав новий синтаксис. Але якщо використовувати саме ngSwitch то буде наступне:

            <tr *ngSwitchCase="'cheap'" [ngStyle]="{ 'background-color': 'green' }">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
          </tr>
          <tr *ngSwitchCase="'average'" [ngStyle]="{ 'background-color': 'yellow' }">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
          </tr>
          <tr *ngSwitchCase="'expensive'" [ngStyle]="{ 'background-color': 'red' }">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
          </tr> -->
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>
