<main>
  <div id="rangesInputContainer">
    <div class="oneRangeBox">
      <label for="rangeWidth">Width:</label>

      <div class="numberAndRange">
        <span>0</span>
        <input type="range" name="rangeWidth" id="rangeWidth" max="500" value="100" [(ngModel)]="widthValue"
          (input)="updateWidth()">
        <span>500</span>
      </div>

      <span class="variableValue" [textContent]="widthValue"></span>
    </div>

    <div class="oneRangeBox">
      <label for="rangeHeight">Height:</label>

      <div class="numberAndRange">
        <span>0</span>
        <input type="range" name="rangeHeight" id="rangeHeight" max="500" value="100" [(ngModel)]="heightValue"
          (input)="updateHeight()">
        <span>500</span>
      </div>

      <span class="variableValue" [textContent]="heightValue"></span>
    </div>

    <div class="oneRangeBox">
      <label for="rangeRotate">Rotate:</label>

      <div class="numberAndRange">
        <span>0</span>
        <input type="range" name="rangeRotate" id="rangeRotate" max="360" value="0" [(ngModel)]="rotateValue"
          (input)="updateRotate()">
        <span>360</span>
      </div>

      <span class="variableValue" [textContent]="rotateValue"></span>
    </div>
  </div>

  <div id="changeBox" [style.width]="width" [style.height]="height" [style.transform]="'rotate(' + rotate + 'deg)'">
  </div>

</main>
