<main>
  <h1>Залізна людина (Iron Man):</h1>
  <p>Тоні Старк, відомий також як Залізна людина, - геній винахідник та мільярдер, який використовує свої інтелект і
    створені ним технології, щоб стати одним з наймогутніших супергероїв у всесвіті Marvel. У його броньованому костюмі
    він обладнаний неймовірною силою та здатністю до польоту. Здійснюючи перетворення з військового підприємця в
    захисника
    світу, Залізна людина залишається символом технологічного прогресу та відданості меті зробити світ кращим.</p>

</main>
