<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div id="formContainer">
  <form action="" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="loginInput" class="form-label">Логін:</label>
      <input type="text" name="loginInput" id="loginInput" class="form-control" formControlName="userLogin"
        placeholder="Більше 3 символі">
      <div *ngIf="myForm.controls['userLogin'].invalid && myForm.controls['userLogin'].touched"
        class="alert alert-danger">Потрібно більше 3 символів</div>
    </div>

    <div class="mb-3">
      <label for="passwordInput" class="form-label">Пароль:</label>
      <input type="password" name="passwordInput" id="passwordInput" class="form-control" formControlName="userPassword"
        placeholder="Велика літера, мінімум 6 символів">
      <div *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched"
        class="alert alert-danger">Пароль повинен бути довшим за 6 символів, містити хоча б одну велику літеру та цифру
      </div>
    </div>

    <div class="mb-3">
      <label for="passwordAgainInput" class="form-label">Пароль ще раз:</label>
      <input type="password" name="passwordAgainInput" id="passwordAgainInput" class="form-control"
        formControlName="confirmPassword">
      <div
        *ngIf="(myForm.get('confirmPassword')?.value !== myForm.get('userPassword')?.value) && myForm.controls['confirmPassword'].touched"
        class="alert alert-danger">
        Паролі не співпадають
      </div>
    </div>

    <div class="mb-3">
      <p>Стать:</p>
      <div class="form-check">
        <input type="radio" value="male" class="form-check-input" formControlName="userGender">
        <label class="form-check-label">Чоловіча</label>
      </div>

      <div class="form-check">
        <input type="radio" value="female" class="form-check-input" formControlName="userGender">
        <label class="form-check-label">Жіноча</label>
      </div>

      <div class="form-check">
        <input type="radio" value="other" class="form-check-input" formControlName="userGender">
        <label class="form-check-label">Інша</label>
      </div>
      <div *ngIf="myForm.controls['userGender'].value =='' && this.clickSubmit" class="alert alert-danger">Будь ласка,
        виберіть стать</div>
    </div>


    <div class="mb-3">
      <label for="cityInput" class="form-label">Місто:</label>
      <select name="cityInput" id="cityInput" class="form-select" formControlName="userCity">
        @for (item of regionalCentersUkraine; track $index) {
        <option value="{{item}}">{{item}}</option>
        }
      </select>
      <div *ngIf="myForm.controls['userCity'].invalid && this.clickSubmit"
        class="alert alert-danger">Будь ласка, виберіть місто</div>
    </div>


    <div class="mb-3" formArrayName="userGames">
      <p>Улюблені ігри:</p>
      <div *ngFor="let game of favoriteGames; let i = index" class="form-check">
        <input type="checkbox" [id]="'favoriteGamesInput' + i" [value]="game" (change)="onCheckboxChange($event)"
          class="form-check-input">
        <label [for]="'favoriteGamesInput' + i" class="form-check-label">{{ game }}</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="aboutYourselfInput" class="form-label">Про себе:</label>
      <textarea name="aboutYourselfInput" id="aboutYourselfInput" cols="30" rows="5" class="form-control"
        formControlName="userAboutYourself" placeholder="Розкажіть щось про себе"></textarea>
    </div>

    <div class="mb-3">
      <label for="userPhoto" class="form-label">Фотографія:</label>
      <input type="file" name="userPhoto" id="userPhoto" class="form-control" (change)="onFileChange($event)">
    </div>

    <button type="submit" class="btn btn-primary">Зареєструватися</button>
  </form>
</div>

@if (this.myForm.valid) {
  <table *ngIf="isSubmitted">
    <tbody>
      <tr *ngIf="myForm.get('userLogin')?.value">
        <td>Логін:</td>
        <td>{{ myForm.get('userLogin')?.value }}</td>
      </tr>
      <tr *ngIf="myForm.get('userPassword')?.value">
        <td>Пароль:</td>
        <td>{{ myForm.get('userPassword')?.value }}</td>
      </tr>
      <tr *ngIf="myForm.get('userGender')?.value">
        <td>Стать:</td>
        <td>{{ myForm.get('userGender')?.value }}</td>
      </tr>
      <tr *ngIf="myForm.get('userCity')?.value">
        <td>Місто:</td>
        <td>{{ myForm.get('userCity')?.value }}</td>
      </tr>
      <tr *ngIf="myForm.get('userGames')?.value.length">
        <td>Ігри:</td>
        <td>{{ myForm.get('userGames')?.value.join(', ') }}</td>
      </tr>
      <tr *ngIf="myForm.get('userAboutYourself')?.value">
        <td>Про себе:</td>
        <td>{{ myForm.get('userAboutYourself')?.value }}</td>
      </tr>
      <tr *ngIf="userPhoto">
        <td>Фото:</td>
        <td><img [src]="userPhoto" alt="userPhoto" class="img-thumbnail" style="max-width: 400px;"></td>
      </tr>
    </tbody>
  </table>


}
