<table id="inputsForm">
  <tr>
    <td>
      <label for="country">Enter country:</label>
    </td>
    <td>
      <input type="text" name="country" id="country" [(ngModel)]="countryFilter" (change)="filterStudents()">
    </td>
  </tr>

  <tr>
    <td>
      <label for="age">Enter student's age:</label>
    </td>
    <td>
      <input type="number" name="age" id="age" [(ngModel)]="ageFilter" (change)="filterStudents()">
    </td>
  </tr>

  <!-- <tr>
    <td colspan="2" align="center">
      <button style="width: 50%;" >Show</button>
    </td>
  </tr> -->
</table>

<table id="studentsList">
  <tr *ngFor="let student of filterStudents()">
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.country}}</td>
  </tr>
</table>
